# LLM Integration
ollama==0.1.8

# Configuration Management
PyYAML==6.0.1

# Web Search & Scraping
beautifulsoup4==4.12.3
requests==2.31.0
ddgs

# Gmail API integration
google-api-python-client==2.125.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0

# PDF parsing
pypdf

# app
Flask
fastapi
python-multipart
uvicorn
pyyaml